<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Groupie tracker</title>
  <link rel="stylesheet" href="/mainfunction/style/style.css" />
</head>

<body>

  <div class=navbar>
    <h1>Groupie Tracker</h1>
  </div>
  <div class=justspace>
  </div>
 
    
  <p>&nbsp;</p>
  </div>
  <form action="/" method="POST">
    <input type="submit" class="homebutton" value="Return to Home Page"></input></form>
 
    <p>&nbsp;</p>
  <h1>Welcome to Searched Results</h1>
  <!-- {{range .}} -->

  <form action="/details" method="POST">
    <ul><input type="hidden" name="details" value={{.ID}}>
      <li><input type="submit" class=fulldetailsbutton value={{.Name}}></li>
    </ul>
  </form>

  <!-- {{end}} -->
  </section>

  <button onclick="topFunction()"  id="myBtn" title="Go to top"><span>Scroll Back Top</span></button>
  <script src="/mainfunction/style/app.js"> </script>

</body>
</html>
